meta(charset='utf-8')
html
  head
    title Compete
    meta(charset='utf-8')
  body
    h1 Hello
    form(action='/one-on-one' method='post')
      h2 One on One
      h3 First Bot
      div
        label(for='bot1Name') Name
        input(type='text' name='bot1Name')
      div
        label(for='bot1Start') Starting Strategy
        input(type='text' name='bot1Start')
      div
        label(for='bot1Strategy') Continuous Strategy
        input(type='text' name='bot1Strategy')
      h3 Second Bot
      div
        label(for='bot2Name') Name
        input(type='text' name='bot2Name')
      div
        label(for='bot2Start') Starting Strategy
        input(type='text' name='bot2Start')
      div
        label(for='bot2Strategy') Continuous Strategy
        input(type='text' name='bot2Strategy')
      button Submit
