meta(charset='utf-8')
html
  head
    title Compete
    meta(charset='utf-8')
  body
    h1 Hello
    form(action='/one-on-one' method='post')
      h2 One on One
      div
        label(for='bot1') First Bot
        input(type='text' name='bot1')
      div
        label(for='bot2') Second Bot
        input(type='text' name='bot2')
      button Submit
