meta(charset='utf-8')
html
  include ../templates/head.pug
  body
    h1 Hello
    form(action='/one-on-one' method='post')
      h2 One on One
      h3 First Bot
      div
        label(for='bot1Name') Name
        input(type='text' name='bot1Name')
      div
        label(for='bot1Start') Starting Strategy
        select(name='bot1Start')
          option(value='RANDOM') Random
          option(value='FRIENDLY') Cooperative
          option(value='UNFRIENDLY') Uncooperative
      div
        label(for='bot1Strategy') Continuous Strategy
        select(name='bot1Strategy')
          option(value='RANDOM') Random
          option(value='COOPERATIVE') Cooperative
          option(value='UNCOOPERATIVE') Uncooperative
          option(value='TITFORTAT') Tit-For-Tat
          option(value='BASEBALL') Baseball
          option(value='BACKANDFORTH') Back-And-Forth
          option(value='FRIENDLY') Roadhouse
      h3 Second Bot
      div
        label(for='bot2Name') Name
        input(type='text' name='bot2Name')
      div
        label(for='bot2Start') Starting Strategy
        select(name='bot2Start')
          option(value='RANDOM') Random
          option(value='FRIENDLY') Cooperative
          option(value='UNFRIENDLY') Uncooperative
      div
        label(for='bot2Strategy') Continuous Strategy
        select(name='bot2Strategy')
          option(value='RANDOM') Random
          option(value='COOPERATIVE') Cooperative
          option(value='UNCOOPERATIVE') Uncooperative
          option(value='TITFORTAT') Tit-For-Tat
          option(value='BASEBALL') Baseball
          option(value='BACKANDFORTH') Back-And-Forth
          option(value='FRIENDLY') Roadhouse
      h3 Other Options
      div
        label(for='iterations') Number of Battles
        input(type='text' name='iterations')
      button Submit
